/*@media screen and (max-width: 2900px) {*/
	/* 1780px以下に適用されるCSS（小型PC用） */
	.main_c, .left_menu, .right_menu, body{
		zoom: unset;
	}
	body{
		zoom: 80%;
		overflow: scroll;
		overflow-x: hidden;
	}
	.header_mother, .col{
		margin: 0;
		margin-left: 15%;
		margin-right: 15%;
	}
	.top_nav{
		padding-left: 0;
		padding-right: 0;
		margin: 0;
	}
	.left_menu, .right_menu, .top_account, .top_mother{
		min-width: 320px;
		max-width: 400px;
	}
	iframe{
		zoom: 80%;
	}
/*}*/@media screen and (max-width: 2300px) {
	.header_mother, .col{
		margin: 0;
		margin-left: 7%;
		margin-right: 7%;
	}
}@media screen and (max-width: 1650px) {
	.header_mother, .col{
		margin: 0;
		margin-left: 16px;
		margin-right: 16px;
	}
}@media screen and (max-width: 1200px) {
	/* 1159px以下に適用されるCSS（タブレット用） */
	.header_mother, .col{
		margin: 0;
		margin-left: 16px;
		margin-right: 16px;
	}
	.main_c, .top_nav{
		min-width: 0px;
		width: 100%;
	}
	.searchbar{
		width: 100%;
	}
	.sidebar_li>.sidebar_a{
		font-size: 0;
		display: flex;
		justify-content: center;
		width: 70px;
		height: 70px;
		margin: auto;
	}
	.left_menu{
		min-width: 110px;
		width: 110px;
	}
	.top_account{
		display: none;
	}
	.sidebar_ul{
		padding-left: 0px;
		padding-right: 0px;
	}
	.sidebar_a{
		padding: 16px 0;
	}
	.col{
		margin: 0;
	}
	.left_active{
		linear-gradient(to left, rgba(0,0,0,0) 0%, var(--accent_color1));
	}
	.left_profile_dot{
		display: none;
	}
	.left_profile_mother{
		display: none;
	}
	.top_profile_img{
		margin: 0 8px;
	}
	.main_c{
		max-width: unset;
	}
	.post_hannou_li{
		padding: 12px 24px;
	}
	.post_time{
		margin: 0;
		padding: 8px;
	}
	.mobile_hidden_shousai{
		display: none;
	}
}@media screen and (max-width: 1180px) {
	.post_left_child{
		width: 80%;
	}
}@media screen and (max-width: 980px) {
	.right_menu{
		display: none;
	}
	#installButton{
		display: block;
	}
	.post_left_child{
		min-width: 0%;
	}
	.upload_dd{
		display: none;
	}
	.post_hannou_good:hover{
		background-color: unset;
	}
	.post_hannou_good:active{
		color: var(--post_hannou_good);
		background-color: var(--post_hannou_good_bg);
	}
	.post_hannou_seyana:hover{
		background-color: unset;
	}
	.post_hannou_seyana:active{
		color: var(--post_hannou_seyana);
		background-color: var(--post_hannou_seyana_bg);
	}
}
@media screen and (max-width: 700px) {
	/* 969px以下に適用されるCSS（スマホ用） */
	body{
		zoom: 100%;
	}
	.post_hannou_li{
		zoom: 110%;
		padding: 12px 24px;
		margin: 0;
	}
	.header_mother, .col{
		margin: 0;
	}
	.left_content, .right_content{
		display: none;
	}
	.main_c, .left_menu, .right_menu, .top_nav, .footer_body_child{
		min-width: 0px;
	}
	.left_menu, .right_menu, .top_nav{
		display: none;
	}
	.main_c, .col, .top_nav, .header_mother, .footer_body_child{
		width: 100%;
	}
	.main_c{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
		zoom: 0.8;
	}
	.index_title{
		font-size: 32px!important;
		text-align: center;
		letter-spacing: 2px;
	}
	.desp1{
		font-size: 18px;
		margin-top: -16px;
		text-align: center;
	}
	.index_main1{
		text-align: center;
	}
	.table_mother{
		padding: 10px;
		width: 90%;
		overflow: hidden;
	}
	td.border{
		display: block;
		padding-top: 0px;
	}
	th.border{
		text-align:left;
		display: block;
		padding-bottom: 0px;
	}
	.form_after{
		width: auto;
	}
	.margin_account_status{
		display: block;
	}
	.follow_button, .ff_a{
		white-space: nowrap;
	}
	.follow_button, .index_mainbutton{
		font-size: 16px;
		padding: 6px 14px;
	}
	.follow_button_yoko{
		margin-left: 0px;
		margin-right: 0px;
	}
	.follow_form_div{
		display: block;
		align-items: baseline;
	}
	.follow_form{
		display: block;
		margin-right: 0px;
	}
	.ff_kazu{
		margin-top: 12px;
	}
	.ff_a{
		font-size: 14px;
	}
	.profile_topimg{
		width: 80px;
		height: 80px;
	}
	.userlist_table{
		width: 100%;
	}
	.clickable{
		border-bottom: 1px solid #999999!important;
	}
	.form_6em{
		width: 3em!important;
	}
	.footer_body_p{
		font-size: 12px;
		text-align: center;
	}
	.form_input{
		width: 100%;
	}
	.top_nav_button{
		white-space: nowrap;
	}
	.hamburger-menu{
		display: block;
	}
	.header_profile{
		justify-content: center;
		margin: 8px;
	}
	.not_kakunin{
		font-size: 18px;
	}
	.adsbygoogle .adsbygoogle-noablate{
		z-index: -1;
	}
	.mobile{
		display: block;
	}
	.migiue_mobile{
		height: 60px;
		width: 60px;
	}
	.mobile_title{
		z-index: 99;
		text-align: center;
		display: table;
		margin: 0 auto;
		width: inherit;
	}
	.mobile_title_a{
		margin: auto;
		text-decoration: none;
		color: var(--font_color1);
		font-size: 24px;
		width: 100%;
		height: 100%;
		display: table-cell;
		font-weight: bold;
		vertical-align: middle;
		transition: 0.6s;
		text-align: left;
		padding-left: 16px;
		white-space: nowrap;
		overflow: hidden;
		user-select: none;
	}
	.mobile_title_a:hover{
	}
	.desp1_mobile{
		text-align: left;
	}
	.header_after{
		height: 60px;
	}
	.top_nav{
		margin-left: 0px;
		margin-right: 0px;
	}
	.post_nameid{
		flex-direction: column;
	}
	.post_dispname{
		padding-bottom: 0;
	}
	.post_id{
		padding-top: 0;
		font-size: 12px;
	}
	.post_id>a{
		text-decoration: none;
	}
	.top_postor_fix{
		display: none;
	}
	.post_mobile{
		display: block;
	}
	.post_main{
		font-size: 14px;
		overflow: hidden;
	}
	.topbar{
		display: none;
	}
	.colorpallet_p{
		margin-top: 24px;
	}
	.server_info_mother{
		text-align: center;
	}
	.server_info_mother>h2{
		font-weight: 400;
	}
	.j_one{
		text-align: right;
		width: 50%;
	}
	.j_two{
		text-align: left;
		width: 50%;
	}
	.post_left_child{
		/* border-radius: 0; */
		width: 95%;
		top: 7%;
		zoom: 80%;
	}
	.post_left_mother{
		/* background-color: var(--background2); */
	}
	.form_submit_left{
		display: block;
	}
	#id_post_submit_left{
		display: none;
	}
	.img_preview{
		flex-wrap: nowrap;
		overflow-x: auto;
	}
	.prev_img_mother{
		min-width: 80%;
	}
	.search_table_bigmother{
		flex-direction: column;
	}
	.search_table_mother{
		width: 100%;
	}
	.user_tab_p{
		font-size: 14px;
	}
	.new_post_a{
		font-size: 24px;
		border-top: solid 1px var(--hover_color1);
	}
}
@media screen and (max-width: 500px) {
	/* 500px以下に適用されるCSS（スマホ用） */
	body{
		zoom: 90%;
	}
}
@media screen and (max-width: 470px) {
	/* 470px以下に適用されるCSS（スマホ用） */
	body{
		zoom: 80%;
	}
}
@media screen and (max-width: 430px) {
	/* 430px以下に適用されるCSS（スマホ用） */
	body{
		zoom: 70%;
	}
}
@media screen and (max-width: 380px) {
	/* 380px以下に適用されるCSS（スマホ用） */
	body{
		zoom: 60%;
	}
}
@media screen and (max-width: 320px) {
	/* 320px以下に適用されるCSS（スマホ用） */
	body{
		zoom: 50%;
	}
}